<!DOCTYPE html>
<html lang="en">
{% load static %}
<head>
   <meta charset="UTF-8">
   <meta name="viewport" content="width=device-width, initial-scale=1.0">
   <link rel="stylesheet" href="{% static 'styles.css' %}">

   <!-- Fonts -->
   <link rel="preconnect" href="https://fonts.googleapis.com">
   <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
   <link
      href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap"
      rel="stylesheet">



   <title>{% block title%}{% endblock title%}</title>
</head>

<body>
   <!-- navigation -->
   <nav class="nav">
      <img class="nav-img" src="{% static 'img/logo-bg-remove.png' %}" alt="Logo of Nepalese Society">
      <ul class="nav-list">
         <li><a href="/">Home</a></li>
         <li><a href="/event">Event</a></li>
         <li><a href="/members">Board Members</a></li>
         <li><a href="/contact">Contact</a></li>
      </ul>
   </nav>

   {% block body%}
   {% endblock body%}

    <!-- footer -->
    <footer class="footer">
      <div class="footer-top">
         <!-- footer image -->
         <div class="footer-left">
            <div class="footer-left-nepsoc">
               <img src="{% static 'img/logo.jpg' %}" alt="">
            </div>
            <div class="footer-left-logo">
               <img src="{% static 'img/uwl-logo.jpg' %}" alt="">
               <img src="{% static 'img/logo-uwlsu-white.svg' %}" alt="">
            </div>
         </div>
         <!-- footer contacts -->
         <div class="footer-middle">
            <h4>Contacts</h4>

            <!-- location -->
            <div class="footer-contact">
               <div class="footer-contact-img">
                  <img src="{% static 'img/location.png' %}" alt="">
               </div>
               <div class="footer-contact-text">
                  <p>University of London</p>
                  <p class="footer-mt">Ealing Broadway</p>
                  <p class="footer-mt">AN13 7SC</p>
               </div>
            </div>

            <!-- email -->
            <div class="footer-contact">
               <div class="footer-contact-img">
                  <img src="{% static 'img/email.png' %}" alt="">
               </div>
               <div class="footer-contact-text">
                  <p>abc@gmail.com</p>
               </div>
            </div>
         </div>
         <div class="footer-right">
            <h4>Social Media</h4>
            <a href=""><img src="{% static 'img/facebook.png' %}" alt=""></a>
            <a href=""><img src="{% static 'img/instagram.png' %}" alt=""></a>
            <a href=""><img src="{% static 'img/tik-tok.png' %}" alt=""></a>
            <a href=""><img src="{% static 'img/linkedin.png' %}" alt=""></a>
         </div>
      </div>
      <hr class="hr">
      <p>&copy; 2024 All Right Reserved</p>
   </footer>
</body>
<!-- icons -->
<script src="https://kit.fontawesome.com/e7bf9fbc6f.js" crossorigin="anonymous"></script>

</html>